[user]
	name = cpcf
	email = piracyonmars@gmail.com
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[core]
	editor = nvim
	excludesFile = ~/.config/git/.gitignore
[url "git@github.com:"]
	insteadOf = https://github.com/
